body {
  background-color: azure;
  background: lightblue;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}



input[type="number"] {
  padding: 10px;
  font-size: 16px;
  width:30%;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f4021e;
  color: rgb(25, 17, 17);
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: red;
}

.message {
  margin-top: 20px;
  font-size: 18px;
}

.lives {
  margin-top: 10px;
  font-weight: bold;
}